.product__ingredients-contents.flex {
  text-align: center;
}
.our-promises.page-width {
  width: 90%;
  margin: auto;
}
.metafield_values {
  display: flex;
  justify-content: space-between;
}

.product_meta_image img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 749px) {
  .grid__items.product__ingredients-main {
    width: 11%;
  }
  .metafield_values {
    flex-wrap: wrap;
    gap: 25px;
  }
  .grid__items.product__ingredients-main {
    width: 40%;
  }
}
@media screen and (min-width: 750px) {
  .metafield_values {
    gap: 10px;
    width: 80%;
    margin: auto;
  }
  .grid__items.product__ingredients-main {
    width: 17%;
  }
}
