span.summary__title {
  display: flex;
  justify-content: space-between;
}
.faq-wrapper.flex.product-details.page-width {
  width: 93%;
  margin: auto;
}
summary::-webkit-details-marker {
  display: none;
}
h2.title.h1.center {
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  height: 36.2917px;
  letter-spacing: -0.33px;
  line-height: 36.3px;
  margin-bottom: 30px;
}
.details-toggle {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #bdbfbf;
}
accordion-tab.accordion {
  border-bottom: 1px solid #bdbfbf;
}
p.accordion__title.h3 {
  font-size: 22px;
  font-weight: 400;
  font-family: Cardo, serif;
  height: 24.1979px;
  letter-spacing: -0.22px;
  line-height: 24.2px;
}

summary {
  list-style: none;
}
.minus-arrow svg,
.pluse-arrow svg {
  height: 20px;
  width: 20px;
}
summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

.pluse-arrow {
  display: none;
}

.details-toggle[open] .pluse-arrow {
  display: inline-block;
}

.details-toggle[open] .minus-arrow {
  display: none;
}
@media only screen and (max-width: 749px) {
  p.accordion__title.h3 {
    font-size: 18px;
  }
  .accordion__content.rte.typeset p {
    margin-top: 20px;
  }
}
